---
---

@import "{{ site.theme }}";
/*
 Customizations Below to override the defaults.
*/
section { background: #000000; border: 1px solid #888888; padding: 10px 10px 10px 10px;}

h1, h2, h3, h4, h5, h6 { color: #ffffff; margin: 0 0 10px; }

h2 { font-size: 24px; color: #999999; }

h3, h4, h5, h6 { color: #99ff99; }

body { font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; color: #ffffff; font-weight: 300; margin: 0px; padding: 0px 0 20px 0px; background: url(../images/body-background.png) #eae6d1; }

nav ul li { padding: 5px 0px; line-height: 15px; background-color: #000000;}
nav ul li.tag-h1 a { font-weight: bold; color: #ffffff; }
nav ul li.tag-h2 + .tag-h1 { margin-top: 0px; color: #ffffff; }
nav ul li.active a { font-size: 16px;}

p { text-indent: 50px; }

#banner #logo { position: absolute; height: 36px; width: 36px; right: 7px; top: 7px; display: block; background: url(../images/octocat-logo.png); }

header h1 { font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif; color: black; text-shadow: 0px 2px 0px lightyellow; margin: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; }
header p { color: black; text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0; font-size: 18px; margin: 0px; }